# Numpy - O1
by. Malya Maritza

oke sebelumnya udah tau lah ya basic basic dari Array yang dijalan memakai numpy. 
Sekarang pembelajarannya lebih ke gimana cara kita bisa memanipulasi/mengubah salah satu elemen di dalam array

## Changing elements in Array

In [25]:
import numpy as num

# (2,3,4)
a = num.array([
    [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]],
    [[13, 14, 15, 16], [17, 18, 19, 20], [21, 22, 23, 24]]
])

# (2, 2)
b = num.array([
    [0, 0],
    [0, 0]
])

* Cara **MEMUNCULKAN** nilai dari salah satu elemen

In [24]:
# [row, column] -> 2D
# [row, sub-row, isi] -> 3D

print(a[0, 0, -1]) #Output: 4
print(b[1,1]) #Output: 0

4
0

apa yang dimaksud dari -1?
maksudnya tuh nomor 1 dari belakang, berarti kalo -3 nomor 3 dari belakang

* Cara **MENGGANTI** salah satu elemen di dalam array

In [17]:
print (b)

[[0 0]
 [0 0]]

In [22]:
b[0, 0] = 1
b[0, 1] = 2
b[1, 0] = 3
b[1, 1] = 4

print(b)

[[1 2]
 [3 4]]

* Cara **MENAMPILKAN** per row atau baris

In [10]:
import numpy as np

# (3, 2, 4)
a = np.array([
    [[1, 2, 3, 4], [8, 7, 6, 5]],
    [[2, 3, 4, 5], [5, 6, 7, 8]],
    [[3, 4, 5, 6], [9, 7, 5, 3]]
])

print(a)

[[[1 2 3 4]
  [8 7 6 5]]

 [[2 3 4 5]
  [5 6 7 8]]

 [[3 4 5 6]
  [9 7 5 3]]]

In [14]:
print (a[1, 0, :])

[2 3 4 5]

In [16]:
print(a[0, 0, :])

[1 2 3 4]

In [17]:
print(a[2, 1, :])

[9 7 5 3]

In [18]:
print(a[0, :, :])

[[1 2 3 4]
 [8 7 6 5]]

In [19]:
print(a[2, 1, 0])

9

**KESIMPULAN**

. titik dua (:) dipake kalo mau meng outputkan semuanya

. Kalo ngitung selalu dari selalu 0

* Cara **MENGGANTI NILAI** per row atau baris

In [20]:
print (a)

[[[1 2 3 4]
  [8 7 6 5]]

 [[2 3 4 5]
  [5 6 7 8]]

 [[3 4 5 6]
  [9 7 5 3]]]

In [41]:
a[0, 0, :] = 1
print(a[0, :, :])

[[1 1 1 1]
 [8 1 6 5]]

In [39]:
a[2, 1, :] = 1
print(a[2, :, :])

[[3 1 5 6]
 [1 1 1 1]]

In [24]:
print(a)

[[[0 0 0 0]
  [8 7 6 5]]

 [[2 3 4 5]
  [5 6 7 8]]

 [[3 4 5 6]
  [0 0 0 0]]]

In [30]:
print(a[1, 0, 1:3])

[3 4]

**KESIMPULAN KODE DIATAS**

. 1:3 yang berarti (start:end) yang dimana end itu tidak diambil

[2 3 4 5]

 0 1 2 3

 3 berada di indeks 1 dan 4 berada di indeks 2, karena setelahnya indeks 3 (tidak diambil) maka cara penulisannya [1:3]

In [31]:
print(a)

[[[0 0 0 0]
  [8 7 6 5]]

 [[2 3 4 5]
  [5 6 7 8]]

 [[3 4 5 6]
  [0 0 0 0]]]

In [33]:
print(a[1, 1, 0:-1])

[5 6 7]

-1 nomor 1 dari terakhir, 
-2 nomor 2 dari terakhir

In [43]:
a[:, :, 1] = 1
a[:, :, 2] = 1
print(a)

[[[1 1 1 1]
  [8 1 1 5]]

 [[2 1 1 5]
  [5 1 1 8]]

 [[3 1 1 6]
  [1 1 1 1]]]